@keyframes moveInFromTop {
  0% {
    transform: translateY(-10vw); }
  100% {
    transform: translateY(0); } }

@keyframes moveInFromBottom {
  0% {
    transform: translateY(5vw); }
  100% {
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Roboto Mono", monospace; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 14rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 7rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-large {
      margin-bottom: 4rem !important; } }

.u-margin-bottom-medium-large {
  margin-bottom: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium-large {
      margin-bottom: 5rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-medium-large {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 1.75rem !important; } }

.u-margin-bottom-small {
  margin-bottom: .5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: .25rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: .2rem !important; } }

.u-flexbox-spacer {
  width: 100%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; }
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
  background-color: #1a1a1a;
  padding: 2rem;
  z-index: 1;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: moveInFromTop .75s ease .125s, fadeIn 1s ease .125s;
  animation-fill-mode: backwards; }
  .navbar__site-title {
    display: inline-block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    transition: .1s linear all; }
    .navbar__site-title:hover {
      color: #d9d9d9; }
  .navbar__items {
    display: flex;
    flex-direction: row;
    list-style: none; }
    .navbar__items li:not(:last-child) {
      margin: 0 4rem 0 0; }
    .navbar__items--nav {
      padding-left: 13rem; }
    .navbar__items--social {
      padding-right: 2rem; }
  .navbar__item {
    text-decoration: none;
    color: #808080;
    font-size: 1.4rem;
    transition: .2s linear color; }
    .navbar__item--icon {
      height: 3rem;
      max-height: 2.5rem;
      width: auto;
      fill: #808080;
      transition: .2s linear color; }
      .navbar__item--icon:hover {
        fill: #f2f2f2; }
    .navbar__item:hover {
      color: #f2f2f2; }

.footer__footer-box {
  background-color: #404040;
  text-align: center;
  height: auto; }

.footer__logo {
  width: 16rem;
  padding: 2rem; }

.footer__list {
  list-style: none; }

.footer__item {
  display: inline-block; }
  .footer__item:not(:last-child) {
    margin-right: 2rem; }

.footer__link {
  font-size: 1.4rem;
  transition: .1s linear color; }
  .footer__link:link, .footer__link:visited {
    color: #d9d9d9;
    text-decoration: none;
    display: inline-block; }
  .footer__link:hover {
    color: #808080; }
  .footer__link:active {
    color: #f2f2f2; }

.footer__copyright {
  margin-top: 2rem;
  font-size: 1rem;
  color: #808080; }

#agohorel {
  font-size: 1rem; }

.section-home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 7rem;
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.5)), url(../img/tinymoon.jpg);
  background-size: cover;
  background-position: top;
  animation: fadeIn 2s; }

.section-av {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.5)); }

.card {
  display: inline-block;
  width: 25rem;
  height: 25rem;
  background-color: #1a1a1a;
  text-align: center;
  position: relative;
  transition: .1s ease transform;
  z-index: 0;
  animation: moveInFromBottom .5s ease, fadeIn 1s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); }
  .card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15); }
  .card:hover .card__link {
    color: #000; }
  .card__inner {
    width: 24rem;
    height: 24rem;
    background-color: #404040;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s linear all; }
    .card__inner:hover {
      background-color: #5a5a5a; }
  .card__link {
    font-size: 2.4rem;
    color: #f2f2f2;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s linear color; }
  @media (max-width: 56.25em) {
    .card {
      width: 15rem;
      height: auto; } }

.newspaper__column {
  text-align: center;
  padding-top: 15vh; }

.newspaper__title {
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 5rem; }

.newspaper__media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 25vh;
  position: relative;
  padding-top: 1px; }

.newspaper__iframe {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.newspaper__body {
  max-width: 25vw;
  padding: 3rem 0 0 0; }
