// generic colors
$white: #fff;
$offwhite: #f2f2f2;
$lightgrey: #d9d9d9;
$midgrey: #808080;
$darkgrey: #404040;
$nearblack: #1a1a1a;
$black: #000;


// measurements
$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-vertical-small: 6rem;
$grid-gutter-horizontal: 6rem;

$border-radius: 2px;

$navbar-height: 7rem;

// font sizes
$font-size-legal: 1rem;
$font-size-paragraph: 1.1rem;
$font-size-nav: 1.4rem;
$font-size-h3: 2.4rem;
$font-size-h2: 4rem;
$font-size-h1: 6rem;

// media query sizes
$phone: 37.5em; // 600px
$tablet-portrait: 56.25em; // 900px
$tablet-landscape: 75em; // 1200px
$large-desktop: 112.5em; // 1800+