.footer {
	&__footer-box {
		background-color: $darkgrey;
		text-align: center;
		height: auto;
	}

	&__logo {
		width: 12rem;
		padding: 1rem;
	}

	&__navigation {

	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__link {
		font-size: $font-size-paragraph;
		transition: .1s linear color;

		&:link,
		&:visited {
			color: $lightgrey;
			text-decoration: none;
			display: inline-block;
		}

		&:hover {
			color: $midgrey;
		}

		&:active {
			color: $offwhite;
		}
	}

	&__copyright {
		margin-top: 1rem;
		font-size: $font-size-legal;
		color: $midgrey;

		&-devname {
			color: lighten($midgrey, 20%);
			font-size: $font-size-legal;
			text-decoration: none;

			&:hover {
				color: $offwhite;
			}
		}
	}
}