.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
    justify-content: space-between;
    height: $navbar-height;
    align-items: center;
	background-color: $nearblack;
	padding: 2rem;
	z-index: 2;
	@include shadow(0, .5rem, .5);
	animation: moveInFromTop .75s ease .125s, fadeIn 1s ease .125s;
	animation-fill-mode: backwards;

	&__site-title {
		display: inline-block;
		color: $white;
		font-family: "Roboto", sans-serif;
		font-size: $font-size-h2;
		transition: .1s linear all;

		&:hover {
			color: $lightgrey;
		}
	}

// refers to uls
	&__items {
		display: flex;
		flex-direction: row;
		list-style: none;

		& li:not(:last-child) {
	    	margin: 0 4rem 0 0;
		}

		&--nav {
			padding-left: 13rem;
		}

		&--social {
			padding-right: 2rem;
		}
	}

// refers to lis
	&__item {
		text-decoration: none;
		color: $midgrey;
		font-size: $font-size-nav;
		transition: .2s linear color;

		&--icon {
			height: 3rem;
			max-height: 2.5rem;
			width: auto;
			fill: $midgrey;
			transition: .2s linear color;

			&:hover {
				fill: $offwhite;
			}
		}

		&--nav {

		}

		&--social {

		}

		&:hover {
			color: $offwhite;
		}
	}

	&__hamburger-container {
		display: none;
	}

	&__hamburger-icon {
		display: none;
	}

	@include responsive($tablet-portrait){
		&__items {

			&--nav {
				display: none;
			}

			&--social {
				padding-right: 7rem;
			}
		}

		&__hamburger-container {
			display: block;
		}

		&__hamburger-icon {
			display: block;
			height: 100%;
			width: 4rem;
			fill: $white;

			&:hover {
				fill: $lightgrey;
				cursor: pointer;
			}
		}
	}

	@include responsive($phone){
		&__site-title {
			font-size: calc(#{$font-size-h3} - (1rem - 3vw));
		}

		&__items {
			& li:not(:last-child) {
				margin: 0 3vw 0 0;
			}

			&--social {
				// padding-right: calc(2rem + 3vw);
				display: none;
			}
		}

		&__hamburger-icon {
			width: calc(2rem + 2vw);
		}
	}
}

.mobilenav {
	&__container {
		position: fixed;
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;

		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $nearblack;
	}

	&__container--slideIn {
		animation: slideInMobileNav .25s ease;
		animation-fill-mode: backwards;
	}

	&__container--slideOut {
		animation: slideOutMobileNav .25s ease;
		animation-fill-mode: forwards;
	}

	&__item {
		font-size: $font-size-h3;
		color: $offwhite;
		text-decoration: none;
		padding: 4rem;

		&:hover {
			color: $midgrey;
		}
	}
}