.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
    justify-content: space-between;
    height: $navbar-height;
    align-items: center;
	background-color: $nearblack;
	padding: 2rem;
	z-index: 1;
	@include shadow(0, .5rem, .5);
	animation: moveInFromTop .75s ease .125s, fadeIn 1s ease .125s;
	animation-fill-mode: backwards;

	&__site-title {
		display: inline-block;
		color: $white;
		font-family: "Roboto", sans-serif;
		font-size: $font-size-h2;
		transition: .1s linear all;

		&:hover {
			color: $lightgrey;
		}
	}

// refers to uls
	&__items {
		display: flex;
		flex-direction: row;
		list-style: none;

		& li:not(:last-child) {
	    	margin: 0 4rem 0 0;
		}

		&--nav {

		}

		&--social {

		}
	}

// refers to lis
	&__item {
		text-decoration: none;
		color: $midgrey;
		font-size: $font-size-paragraph;
		transition: .2s linear color;

		&--nav {

		}

		&--social {

		}

		&:hover {
			color: $offwhite;
		}
	}
}