.card {
	display: inline-block;
	width: 25rem;
	height: 25rem;
	background-color: $darkgrey;
	text-align: center;
	position: relative;

	&__link {
		font-size: $font-size-paragraph;
		color: $offwhite;
		text-decoration: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .2s linear color;

		&:hover {
			color: $midgrey;
		}
	}
}