.card {
	width: 25rem;
	height: 25rem;
	background-color: rgba($white, .1);
	text-align: center;
	position: relative;
	transition: .1s ease transform;
	z-index: 0;
	animation: moveInFromBottom .5s ease, fadeIn 1s ease;
	@include shadow(.25rem, .5rem, .35);

	&:hover {
		transform: translateY(-.5rem);
		@include shadow(.5rem, .75rem, .15);
	}

	&:hover &__link {
		color: $black;
	}

	&__inner {
		width: 24rem;
		height: 24rem;
		background-color: rgba($lightgrey, .45);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .2s linear all;

		&:hover {
			background-color: rgba($lightgrey, .7);
		}
	}

	&__link {
		font-size: 2.8rem;
		font-weight: 300;
		text-decoration: underline;
		color: $nearblack;
		text-decoration: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .2s linear color;
	}

	@include responsive($tablet-portrait){
		width: 18rem;
		height: 18rem;

		&__inner {
			width: 17rem;
			height: 17rem;
		}
	}

	@include responsive($phone){
		width: 100vw;
		height: 15vh;

		&__inner {
			width: 100vw;
			height: 14vh;
		}
	}
}