.music {
	height: 100vh;

	&__slider-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-top: 10rem;
	}

	&__slider-display {
		font-size: $font-size-h2;
	}

	&__slider-box {
		width: 50%;
	}

	&__slider {
		display: inline-block;
		width: 100%;
	}

	&__slider-helper {

	}

	&__card {

		&-container{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	
		&-title {

		}

		&-label {

		}

		&-img {
			max-width: 40rem;
		}

		&-links {

		}

		&-link {
			&:not(:last-child){
				margin-right: 3rem;
			}
		}
	}
}