.music {
	height: auto;

	&__slider-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__slider-display {
		font-size: $font-size-h3;
	}

	&__slider-box {
		width: 50%;
	}

	&__slider {
		display: inline-block;
		width: 100%;
		-webkit-appearance: none;

		height: 2rem;
		background: $lightgrey;
		outline: none;
		opacity: 0.7;
		transition: opacity .2s;

		&:hover {
			opacity: 1;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 2rem;
			height: 2rem;
			background: $nearblack;
			cursor: pointer;
		}

		&::-moz-range-thumb {
			width: 2rem; 
			height: 2rem; 
			background: $nearblack;
			cursor: pointer; 
		}
	}

	&__slider-helper {
		font-size: $font-size-paragraph;
	}

	&__card {

		&-container {
			display: flex;
			flex-wrap: wrap; 
			justify-content: center;
			align-items: center;
			padding-top: 2rem;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 3rem;
	
		&-title {
			font-size: $font-size-nav;
		}

		&-label {
			font-size: $font-size-paragraph;
			color: $darkgrey;
		}

		&-img {
			margin-top: 1rem;
			max-width: 30rem;
		}

		&-links {
			font-size: $font-size-paragraph;
			margin-top: 1rem;
		}

		&-link,
		&-link:visited {
			color: $nearblack;
			text-decoration: none;

			&:not(:last-child){
				margin-right: 3rem;
			}

			&:hover {
				color: $darkgrey;
				font-weight: 800;
			}
		}
	}

	@include responsive($tablet-portrait) {
		&__slider {
			height: 3rem;

			&::-webkit-slider-thumb { 
				width: 3rem;
				height: 3rem;
			}

			&::-moz-range-thumb {
				width: 3rem;
				height: 3rem;
			}

			&-helper {
				font-size: 1.2rem;
			}
		}

		&-link,
		&-link:visited {
			font-size: 70%;
		}

		&__card {
			&-link,
			&-link:visited {
				font-size: 1.2rem;
				text-decoration: underline;
			}

			&-title {
				font-size: 1.9rem;
			}

			&-label {
				font-size: 1.3rem;
			}
		}
	}

	@include responsive($phone) {
		&__slider-box {
			width: 80%;
		}

		&__slider {
			height: 4rem;

			&::-webkit-slider-thumb { 
				width: 4rem;
				height: 4rem;
			}

			&::-moz-range-thumb {
				width: 4rem;
				height: 4rem;
			}
		
			&-helper {
				font-size: 1.2rem;
			}
		}


		&__card {
			&-link,
			&-link:visited {
				font-size: 1.4rem;
			}

			&-title {
				font-size: 2.2rem;
			}

			&-label {
				font-size: 1.5rem;
			}
		}

	}
}