.newspaper {

	&__column {
		text-align: center;
		padding-top: 15vh;
	}

	&__title {
		display: inline-block;
		font-size: $font-size-h2;
		margin-bottom: 5rem;
	}

	&__media {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25vw;
		height: 25vh;
		position: relative; 
		padding-top: 1px;
	}

	&__iframe {
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; 
		height: 100%;
	}

	&__body {
		max-width: 25vw;
		padding: 3rem 0 0 0;
	}
}