.newspaper {

	&__container {
		display: flex;
		justify-content: space-evenly;
		height: auto;
	}

	&__column {
		text-align: center;
		padding-top: 10vh;
		max-width: 22.5vw;
	}

	&__title {
		display: inline-block;
		font-size: $font-size-h3;
		margin-bottom: 1.5rem;
	}

	&__media {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50vw;
		height: 28.125vw; // 50:28.125 = 16:9
		position: relative; 
	}

	&__iframe {
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; 
		height: 100%;
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__body {
		display: inline-block;
		max-width: 100%;
		padding: 1.5rem 0 0 0;
		font-size: $font-size-paragraph;
		text-align: left;
		
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;

		&--popout {
			max-width: 40vw;

			&:first-of-type {
				padding: 2rem 0 2rem 0;
			}
		}
	}

	&__popout-button,
	&__popout-button--back {
		border: none;
		text-decoration: none;
		font-family: "Roboto Mono", monospace;
		background-color: $midgrey;
		color: $white;
		padding: 1rem 2rem;
		margin-top: 2rem;

		&:hover,
		&--back:hover {
			cursor: pointer;
			background-color: darken($midgrey, 10%);
			color: darken($white, 10%);
		}
	}

	&__popout-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 7rem 2rem 2rem 2rem; // offset for header
		display: none;
		height: 100vh;
	}

	&__popout-title {
		margin-bottom: 1.5rem;
	}

	@include responsive($tablet-portrait){
		
		&__container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__column {
			max-width: 50vw;
			padding-top: 9vh;
		}

		&__body {
			font-size: 1.5rem;
		}

		&__media {
			width: 75vw;
			height: 42.1875vw;
		}

		&__popout-title {
			font-size: 3rem;
		}
	}

	@include responsive($phone){
		&__column {
			max-width: 75vw;
		}

		&__media {
			width: 90vw;
			height: 50.625vw;
		}
	}
}