.plugin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;

	&__img {
		width: 20vw;
		height: auto;

		&:hover {
			opacity: .75;
		}
	}

	&__link,
	&__link:visited {
		color: $black;
		font-size: $font-size-paragraph;
		text-decoration: none;
	}

	&__link:hover {
		font-weight: 700;
	}

	@include responsive($tablet-portrait){
		&__img {
			width: 30vw;
		}
	}

	@include responsive($phone){
		&__img {
			width: 50vw;
		}
	}
}