@keyframes moveInFromTop {
	0% { transform: translateY(-10vw); }

	100% { transform: translateY(0); }
}

@keyframes moveInFromBottom {
	0% { transform: translateY(5vw); }

	100% { transform: translateY(0); }
}

@keyframes fadeIn {
	0% { opacity: 0; }

	100% { opacity: 1; }
}

@keyframes slideInMobileNav {
	0% { transform: translateY(-100vh); }

	100% { transform: translateY(0); }
}

@keyframes slideOutMobileNav {
	0% { transform: translateY(0); }

	100% { transform: translateY(-100vh); }
}

@keyframes rotateHamburger {
	0% { transform: rotate(0); }

	100% { transform: rotate(90deg); }
}

@keyframes rotateHamburgerBack {
	0% { transform: rotate(90deg); }

	100% { transform: rotate(0); }
}