.section-home {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: $navbar-height;
	height: 100vh;
	background-image: linear-gradient(to bottom right, 
									  rgba($black, .75),
									  rgba($white, .125)), 
								      url(../img/background2.jpg);
	background-size: cover;
	background-position: top;
}