.section-home {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: $navbar-height;
	height: 100vh;
	background-image: linear-gradient(to bottom right, 
									  rgba($black, .75),
									  rgba($white, .5)), 
								      url(../img/tinymoon.jpg);
	background-size: cover;
	background-position: top;
	animation: fadeIn 2s; 
}

.section-av {
	display: flex;
	justify-content: space-evenly;
	height: 100vh;
	background-image: linear-gradient(to bottom right, 
									  rgba($black, .75),
									  rgba($white, .5));
}